<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <!-- firebaseui-web -->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.css" />
    <script>
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        const config = {
            apiKey: "AIzaSyCOuJap_L5SjhJkF2dfLrkfVePcZoWsSsw",
            databaseURL: "https://vue-project-rain.firebaseio.com/",
            projectId: "vue-project-rain",
        };
        firebase.initializeApp(config);
        const db = firebase.database()
        const auth = firebase.auth()
        const ui = new firebaseui.auth.AuthUI(auth)
        // ui.start('#firebaseui-auth-container')
    </script>
    <style>
        .chatbox {
            margin:auto;
            margin-top: 150px;
            width: 500px;
            font-size: 20px;
        }
        .chat {
            width: 161px;
            height: 30px;
            padding: 3px;
            border: 1px solid white;
            background-color: salmon;
            margin-bottom: 3px;
        }
        .my-chat {
            margin-left: auto;
            background-color: wheat;
        }
        input {
            width: 100%;
            height: 20px;
            border: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            {{currentUser.username}}님 ! <button @click="logout">logout</button>
        </div>
        <div v-if="currentUser.uid" class="chatbox">
            <ul>
                <div v-for="message in messages" :class="{'chat': true, 'my-chat': currentUser.username === message.username}">
                    <strong>{{ message.username }}</strong> : {{message.content}}
                </div>
                <input v-model="newMessage"  @keyup.enter="createMessage" placeholder="입력해주세요">
            </ul>
        </div>
        <div v-else>
            <div id="firebaseui-auth-container"></div>
        </div>
    </div>

    
    <script>
    const getColor = function() {
        axios.get('http://randomcolour.com/')
        .then(e => e.data)
        .then(response => {
            console.log(response)
            this.images.push(response.data.message)
            this.dogCount += 1
        })
    }
    const app = new Vue({
        el: '#app',
        data: {
            // messages: [
            //     {'username': 'rain', 'content': '힘드네요... 집에가고싶오..'},
            //     {'username': '심심이', 'content': '졸리다...'}
            // ],
            currentUser: {
                uid: '',
                email: '',
                username: ''
            },
            newMessage: '',

        },
        firebase: {
            messages: db.ref('messages')
        },
        // 실제로 실행됨(mount됨)과 동시에 실행되는 함수
        mounted: function(){
            auth.onAuthStateChanged((user) =>{
                if (user) {
                    this.currentUser.uid = user.uid
                    this.currentUser.email = user.email
                    this.currentUser.username = user.displayName
                }
                this.initUI()
            })
        },
        methods: {
            createMessage: function() {
                if (this.newMessage){
                    this.$firebaseRefs.messages.push({
                        username: this.currentUser.username,
                        content: this.newMessage
                    })
                    this.newMessage = ''
                }
            },
            initUI: function() {
                ui.start('#firebaseui-auth-container', {
                    signInoptions: [
                        firebase.auth.EmailAuthProvider.PROVIDER_ID
                    ],
                    callbacks: {
                        signInSuccessWithAuthResult: (authResult, redirectUrl) => {
                            this.currentUser.uid = authResult.user.uid
                            this.currentUser.email = authResult.user.email
                            this.currentUser.username = authResult.user.displayName
                            return false
                        }
                    }
                })
            },
            logout: function() {
                this.currentUser = {
                    uid: '',
                    email: '',
                    displayName: ''
                }
                auth.signOut()
            }
        }
    })
    </script>
</body>
</html>