<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="music in musics">
                <h2>{{music.id}}번 곡 : {{music.artist_name}}-{{music.title}}</h2>
                <input v-model="music.newComment" v-on:keyup.enter="createComment(music)">
                <ul>
                    <li v-for="comment in music.comment_set" class="comment">
                        {{comment.content}}
                    </li>
                </ul>
                <hr>
            </li>
            
        </ul>
    </div>

    <script>
    const app = new Vue({
        el: '#app',
        data: {
            musics: []
        },
        methods: {
            getMusics: function() {
                // axios를 통한 요청은 promise 객체를 리턴. 
                axios.get('https://django-intro-sweetrain.c9users.io/api/v1/musics/')
                // resolve되면, (성공하면) => then으로 처리
                .then(response => response.data)
                .then(musics => {
                    this.musics = musics.map((music) => {
                        return {...music, newComment: ''}
                    })
                })
                // reject 되면, (실패하면) => catch에서 처리
                .catch(error => {
                    console.log(error)
                })
            },
            createComment: function(music) {
                const url = `https://django-intro-sweetrain.c9users.io/api/v1/musics/${music.id}/comments/`
                console.log(url)
                console.log(music.newComment)
                axios.post(url, {
                    content: music.newComment
                })
                .then(response => {
                    console.log(response)
                    music.comment_set.push(response.data)
                    music.newComment=""
                })
                .catch(error => console.log(error))
            }
        },
        mounted: function() {
            this.getMusics()
        }
    })
    </script>
</body>
</html>